.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 18px 0;
  z-index: 100;
}

.menu.scroll {
  display: none;
}

@media screen and (max-width: 960px) {
  .menu-left {
    display: none;
  }

  .menu-right {
    display: none;
  }
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.relative {
  position: relative;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 24px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.hero {
  height: 100vh;
}

@media screen and (max-width: 960px) {
  .hero {
    height: auto;
  }

  .container {
    flex-direction: column;
  }
}

.container-item:nth-child(1) {
  flex-grow: 3;
  max-width: 680px;
  margin: 40px 0px;
}

.container-item:nth-child(2) {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
  img {
    max-width: 400px;
    // display: none;
  }
}

.bg-hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1400px) {
  .svg-hero {
    transform: scale(1.5);
  }
}

@media screen and (max-width: 1200px) {
  .svg-hero {
    transform: scale(1.5) rotate(25deg);
  }
}

@media screen and (max-width: 960px) {
  .svg-hero {
    transform: scale(2) rotate(25deg);
  }
}

.bb-gray {
  width: 100%;
  border-bottom: 1px solid $black-light;
}

.list-item {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 24px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  a {
    &:hover {
      background: linear-gradient(225deg, #2dc7ed 0%, #538bf0 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      & + .img-project {
        transform: translate(-50%, -50%) translate3d(0, 0, 0);
        opacity: 1;
      }
    }
  }
}

.img-project {
  max-width: 620px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.5s ease;
  z-index: -1;
  opacity: 0;
  transform: translate(-50%, -50%) translate3d(-1000px, 0, 0) skewX(30deg);
}

.get {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 24px;
  height: 100vh;
}

#square1 {
  transform-origin: center center;
  transform-box: fill-box;
  animation: rotate1 1s ease infinite alternate;
}

@keyframes rotate1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

#square2 {
  transform-origin: center center;
  transform-box: fill-box;
  animation: rotate2 2s ease infinite alternate;
}

@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

#square3 {
  transform-origin: center center;
  transform-box: fill-box;
  animation: rotate3 3s ease infinite alternate;
}

@keyframes rotate3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

#section-01 {
  height: 100vh;
}
